#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
main{
  flex: 1 0 auto;
}
.edt{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.frm{
  width: 350px;
  height: 200px;
}
.divStyle{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.heading1{
  font-size: 95px;
  font-family: serif;
  font-weight: bold;
}
.paragraph{
  font-size: 25px;
  margin-top: 20px;
}
.divBtn{
  width: 40%;
}
*{
  font-family: 'Roboto', sans-serif;
  }
  
  body{
    background-color: #F3F6FC;
  }
  /* .center{
    margin: auto;
    margin-top: 100px;
    height: 100%;
    width: 50%;
    color: black;
    border-radius: 5px;
  } */
  #sme{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  #txt{
    padding-left: 20px;
    width: 100%;
    height: 40px;
    /* background-color: rgba(87, 87, 156, 0.295); */
    border: 1px solid;
    border-radius: 5px;
  }
  #email{
  padding-left: 20px;
  width: 100%;
  height: 40px;
  /* background-color: rgba(87, 87, 156, 0.295); */
  border: 1px solid black;
  border-radius: 5px;
  }
  #password{
  padding-left: 20px;
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  }
  .forget{
    margin-top: 30px;
    opacity: 0.5;
    cursor: pointer;
  }
  #input{
    border: none;
    border-radius: 10px;
  }
  .btnLg{
    border-radius: 10px;
    padding: 5px 80px;
  }
  #header{
    width: 60%;
  }
  .home{
    height: 75.8vh;
  }
@media screen and (max-width : 1024px) {
  .divStyle{
    margin-top: 0px;
  }
  .heading1{
    font-size: 70px;
  }
  .paragraph{
    font-size: 23px;
    margin-top: 15px;
  }
  .frm{
    width: 300px;
    height: 200px;
  }
}
@media screen and (max-width: 900px) {
  .frm{
    width: 250px;
    height: 200px;
  }
}
@media screen and (max-width: 800px) {
  .frm{
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .divStyle{
    margin-top: 40px;
  }
  .heading1{
    font-size: 55px;
  }
  .paragraph{
    margin-top: 10px;
    font-size: 20px;
  }
  .divBtn{
    width: 35%;
  }
}
@media screen and (max-width: 550px) {
  .divBtn{
    width: 50%;
  }
  /* .center{ */
    /* margin: auto; */
    /* margin: 0px;
    margin-top: 100px;
    height: 100%;
    width: 100%;
    color: black;
    border-radius: 5px;
  } */
}
@media screen and (max-width: 425px) {
  .divStyle{
    margin-top: 20px;
  }
  .heading1{
    font-size: 35px;
  }
  .paragraph{
    margin-top: 5px;
  }
  .divBtn{
    width: 80%;
  }
}
@media screen and (max-width : 300px) {
  .divBtn{
    width: 100%;
  }
}

  @media screen and (max-width: 700px) {
    .btnLg{
      padding: 0 50px;
    }
  }
  @media screen and (max-width: 450px) {
    .btnLg{
      padding: 5px 30px;
    }
  }
  @media screen and (max-width: 350px) {
    .btnLg{
      padding: 3px 18px;
    }
  }